body{
    background-color: #e3e0e9;
    /* margin: 0;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.6;
    color: #212529; */
} 

.sidebar {
    float: left;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 15px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}

.profilecard {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: rgb(201, 201, 201);
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    margin-bottom: 1.5rem !important;
}

.profilecard-bg {
    height: 150px;
    background-size: cover;
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, 0.03);
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.profilecard-content {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}

.text-center {
    text-align: center !important;
}

.profilecard-avatar {
    max-width: 100px;
    margin-top: -70px;
    margin-bottom: 5px;
    border: 3px solid #fff;
    border-radius: 100%;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.profilecard-link,
.profilecard-link:hover,
.profilecard-link:focus {
    color: inherit;
    text-decoration: inherit;
}

.profilecard-statslist {
    list-style: none;
    padding: 0;
}

.profilecard-statsitem {
    display: inline-block;
    padding: 0 10px;
    border-right: 1px solid #d4dbe0;
}

.profilecard-statsitem:last-child {
    border-right: 0;
}














.card-post {
    background: #ffffff;
    padding: 15px;
    display: block;
    overflow: hidden;
    margin-bottom: 15px;
}

.container-posts {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 15px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 45%;
}

.img-post {
    width: 100%;
}

.info-user i { color:#929292; }

.reaction {
    padding: 10px 0;
}

.comments {
    border-top: 1px solid #dadada;
    padding-top: 5px;
}

.comments ul {
    list-style: none;
    padding: 0px;
}

.comments ul li, .comments .more-comments {
    padding: 5px 0;
}

.comments .more-comments {
    color: #ababab;
}

#loading {
    width: 36px;
    margin: auto;
    margin-bottom: 20px;
}

.user-description {
    margin-top: 20px;
    line-height: 22px;
}

.info-user { margin-top:15px; }

.info-user p {margin:0px; }

.primary-content { width:70%;
                   float: left; }

.sidebar-right  { width:28%;
                  float: left; }

.primary-content .container-posts {
    padding: 0 40px;
}